<template>
  <SchemaForm v-bind="bind" />
</template>

<script type="text/javascript">
import View from '@devitools/Agnostic/Adapters/View'
import Schema from 'source/domains/Inventory/Provider/Schema/ProviderSchema'

/**
 */
export default {
  /**
   */
  name: 'ProviderForm',
  /**
   */
  extends: View,
  /**
   */
  schema: Schema
}
</script>

<style
  lang="stylus"
  rel="stylesheet/stylus"
>
</style>
